body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1{
  font-family: verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  /*text-align-last: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  background-clip: padding-box;*/
}
h2{
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
}
h3{
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
h6, a{
  font-size: 16px;
  color: Aquamarine;
}
